html {
	height: 100%
}
body {
	margin: 0;
	overflow:hidden;
	height:100%
}

#viewerDiv {
    margin : auto auto;
    width: 100%;
    height: 100%;
    padding: 0;
}
#menuDiv {
	position: absolute;
	top:0px;
	margin-left: 0px;
}

#button_sud{
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: 999;
	margin-right: 5px;
	margin-top: 5px;
}

#button_nord{
	position: absolute;
	top: 20px;
	right: 0px;
	z-index: 999;
	margin-right: 5px;
	margin-top: 5px;
}
#button_est{
	position: absolute;
	top: 40px;
	right: 0px;
	z-index: 999;
	margin-right: 5px;
	margin-top: 5px;
}
#button_OUEST{
	position: absolute;
	top: 60px;
	right: 0px;
	z-index: 999;
	margin-right: 5px;
	margin-top: 5px;

}
#button_vue_initiale{
	position: absolute;
	top: 120px;
	right: 0px;
	z-index: 999;
	margin-right: 5px;
	margin-top: 5px;

}

#splitSlider {
		position: absolute;
		left: 50%;
		top: 0px;
		width: 0px;
		height: 100%;
		background-color: #666666;
}

#splitSlider:hover {
		cursor: ew-resize;
}

#position{
	position: absolute;
	top: 250px;
	right: 4px;
	background-color: rgba(128,128,128,0.5);
}

#position tr{
	width: 50px;
}
#position, #position tr, #position td{
	z-index: 999;
	visibility: visible;
	border: 1px solid black;
	border-collapse: collapse;
}
